body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}


section {
    padding: 20px;
}
section ul{
    list-style-type: none;
}
section ul li{
    list-style-type: none;
    
}

footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
/* Global Styles */



.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Header Styles */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
}
header nav{ text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    border-radius: 5px;

}
a:hover{
    background-color: #ff0095;
}
/* Responsive Header Styles */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    header nav ul li {
        display: inline;
        margin: 10px 0;
    }
}



/* Section Styles */
section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
    color: #fc007e;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff0095;
}

/* Testimonial Styles */
.testimonial {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial span {
    font-weight: bold;
}

/* Footer Styles */


footer p {
    margin: 0;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
